
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>DV Serve was designed and created by volunteers at the ABA Techshow Chicago Tech for Justice Hackathon.</p>
      <h2>The Problem</h2>
      <p>In Chicago, when courts grant temporary, emergency orders of protection in domestic violence cases, they typically give victims a second court date three weeks later. If things go correctly, the abuser in the case will receive notice of that date, and the victim will be allowed to ask the court for a more permanent order on that date.</p>
      <p>Unfortunately, this rarely happens on the first try. Instead, the sheriff will go make one attempt to “serve process” on the abuser in those three weeks, typically on a weekday, between 9 and 5, and not find anyone there. This can result in the victim needing to return to court every three or so week for long stretches, needing to take time off work, put her children in daycare, and incur other related expenses. Legal Aid organizations are understandably reluctant to shell out the $80+ a special process server can cost (frequently this fee is per attempt), especially when the sheriff might be successful. But this places a financial, practical, and emotional burden on victims. Because a victim’s failure to attend a date—even when service has been unsuccessful—results in the judge dropping the case, this system sends victims the message that their time is worthless, and their needs do not deserve consideration or respect.</p>
      <h2>DV Serve's Solution</h2>
      <p>DV Serve provides a platform that connects attorneys with volunteers willing to serve process on domestic violence abusers. In Illinois, anyone over 18 who is not a party to the case may be appointed by a court to serve process. Because of this, there is no reason a volunteer can’t do the job.</p>       
      <p>DV Serve targets a small, quantifiable problem and fixes it with a simple, practical solution. It leverages crowdsourcing and the ready availability of information on the web to lift one of the barriers that stops domestic violence victims from moving forward in their lives.</p>
      <p>Adoption of DV Serve by relevant professionals is very feasible. When a special process server is appointed, the sheriff still attempts service in the same manner they would otherwise, so there is nothing lost by a legal aid attorney who uses the application. Moreover, it saves attorneys the need to make repetitive, formulaic appearances to simply keep a case alive. Because of the price of professional process service, attorneys would be very likely to continue using the app in cases where professional service is too expensive. Because such cases are frequent, attorneys would be likely to get in a routine of using the app and become regular users.</p>
    </div>
</div>
{% endblock %}

