{% extends "layout.html" %}
{% block content %}

<h1>Attorney FAQ</h1>
<h2>What Do Volunteers Do?</h2>
<p>Some volunteers research the background and location of the abuser, while other volunteers use that information to actually go out and perform service on Orders of Protection.</p> 

<h2>How Do I Get a Volunteer to Help with a Case?</h2>
<p>First, you submit the following:</p>
<ul>
	<li>Case information necessary for the volunteer to complete the service affidavit</li>
	<li>Additional information that can help volunteers locate and serve the abuser</li>
</ul>
<p>Once you submit this information, a pool of volunteers are immediately notified. When a volunteer responds, you then ask the court to appoint that volunteer as a special process server.</p>
<p>You then mail the following to the appointed volunteer.</p>
<ul>
	<li>An original of the Summons</li>
	<li>Two photocopies of the Summons</li>
	<li>One copy of the Complaint</li>
</ul>
<p>The volunteer then seeks out and performs service for the Order of Protection, attaches a copy of the Summons to an Affidavit of Service, and sends the documents back to you.</p>

<h2>Is This Legal?</h2>
<p>Yes. Per 735 ILCS 5/2-202, a court can appoint anyone over the age of 18 who is not party to the action as a special process server. Note that this appointment must take place prior to service.</p>

<h2>Does the Sheriff Continue to Attempt Service after the Court Appoints a Special Process Server?</h2>
<p>Yes. Even when the court appoints a special process server to a case, the Sheriff will continue efforts to serve process on Orders of Protection.</p>

{% endblock %}
