
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>DV Serve</h1>
  <br />
  <p>DV Serve provides a platform that connects attorneys with volunteers willing to serve process on abusers in domestic violence cases.
</p>
  <br />
  <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Volunteer</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>Why is this necessary?</h2>
      <p>When a survivor of domestic violence is able to successfully obtain an order of protection against his or her abuser, that order is typically only valid for a limited period of time. For the order of protection to take effect, the order must be physically served to the abuser within those three weeks.</p>
    </div>
    <div class="col-lg-4">
      <h2>The Current Process</h2>
      <p>Currently, the way that orders of protection are served is through either the sheriff’s department, which is free, or through a certified process server or private detective agency, which are cost prohibitive for low-income survivors. The sheriff’s department only makes one attempt to serve the order, and if the person to be served isn’t at the one address provided, then either the order expires and is effectively rendered useless or the survivor must appear in court again.</p>
    </div>
    <div class="col-lg-4">
      <h2>Crowdsourcing Process Serving</h2>
      <p>DV Serve targets a small, quantifiable problem and fixes it with a simple, practical solution. It leverages crowdsourcing and the ready availability of information on the web to lift one of the barriers that stops domestic violence victims from moving forward in their lives.</p>
    </div>
  </div>
</div>
{% endblock %}

