{% extends "layout.html" %}
{% block content %}

<h1>Volunteer FAQ</h1>

<h2>What Is an Order of Protection?</h2>
<p>A court issues an Order of Protection to protect victims of domestic violence from further abuse. In Illinois, an Order of Protection can be one of several types:</p>
<ul>
	<li>Emergency - An Emergency Order of Protection temporarily prohibits the alleged abuser from interfering with the victim’s person and property. An Emergency Order of Protection is limited to immediate threats, and does not require service of process to take legal effect.  The purpose of an Emergency Order of Protection is to protect the victim during the time it takes to obtain an Interim or Plenary Order of Protection, so an Emergency Order of Protection can only last up to a maximum of three weeks.</li>
	<li>Interim - An interim order of protection lasts up to 30 days and generally requires process of service. provide more expansive protections than an Emergency Order of Protection.</li>
	<li>Plenary - “Plenary” is just a fancy word that means unqualified and all-inclusive. A Plenary Order of Protection is the final, permanent order. A Plenary Order of Protection not only prohibits the abuser from being near or contacting the victim and the victim’s children, it can also prohibit tampering with the victim’s property and even require the abuser to undergo counseling. Basically, a Plenary Order of Protection can contain any and every protection allowed by law, from child or spousal support orders to restrictions on gun ownership. A Plenary Order of Protection can last up to two years.</li>
</ul>

<h2>What Is Service?</h2>
<p>Service (or service of process) is a fancy term that refers to the act of officially letting the abuser know that he or she is subject to an Order of Protection. Except in emergency cases, service must be performed before the Order of Protection can take legal effect. Service of Process must follow strict legal formalities. Merely telling the abuser about an order of protection is insufficient.The person performing service must swear in an affidavit that he or she delivered the appropriate documents directly to the abuser or to a responsible person in the abuser’s household.</p>

<h2>Who Can Perform Service?</h2>
<p>Virtually anyone over the age of 18 can perform service. However, the court must recognize a person as the individual who will perform service prior to his or her being able to officially notify the abuser of an Order of Protection.</p>

<h2>Why Do You Need Volunteers?</h2>
<p>It's true that the Sheriff’s Office attempts to perform service for Orders of Protection. However, the Sheriff’s Office often finds it difficult to locate the abuser for a number of reasons. Deputies are limited to attempting service during business hours, so an abuser may be at work when the Deputy stops by his or her home. Abusers may also avoid answering when a uniformed officer knocks on the door. Moreover, the Sheriff's Office undertakes such a high volume of Service attempts that it does not have the resources to spend a great deal of time on any one instance. It is possible to hire a professional Process Server, but many victims to not have the financial resources to do so. Volunteers help in those instances where the Sheriff's Office is unsuccessful and the victim cannot obtain professional help.</p>

<h2>Is Volunteering to Perform Service Safe?</h2>
<p>Volunteers receive training on how to approach and talk to the abuser, as well how to be aware of and avoid potentially dangerous situations. As a volunteer, you will never be expected to go into a situation that makes you uncomfortable. No volunteer will ever be asked to serve process on a known gun owner.</p>

<h2>Are There Ways to Help Other Than Performing Service?</h2>
<p>Yes! While some volunteers physically perform service, we also need volunteers to help research abusers. Information about where the abuser lives, works, and spends his or her time helps the volunteer process server efficiently and effectively notify the abuser about the Order of Protection.</p>

{% endblock %}
